*.DS_Store
*.cmake
__MACOSX/._ITK180
__MACOSX/ITK180/Modules/ThirdParty/VNL/src/vxl/core/vnl/._vnl_math.h
__MACOSX/ITK180/Modules/ThirdParty/VNL/src/vxl/core/vnl/._vnl_numeric_traits.h
__MACOSX/VTKHeaders/.*
AYDicomPrint/*
Binaries/*
build/*
opendicomiris.xcodeproj/project.xcworkspace/xcuserdata/jacquesfauquex.xcuserdatad/UserInterfaceState.xcuserstate
opendicomiris.xcodeproj/xcuserdata/jacquesfauquex.xcuserdatad/xcschemes/xcschememanagement.plist
opendicomiris.xcodeproj/project.xcworkspace/xcuserdata/jacquesfauquex.xcuserdatad/UserInterfaceState.xcuserstate
opendicomiris.xcodeproj/xcuserdata/jacquesfauquex.xcuserdatad/xcschemes/xcschememanagement.plist
opendicomiris.xcodeproj/xcuserdata/jacquesfauquex.xcuserdatad/xcschemes/xcschememanagement.plist
opendicomiris.xcodeproj/project.xcworkspace/xcuserdata/jacquesfauquex.xcuserdatad/UserInterfaceState.xcuserstate
VTKHeaders/*
